@tailwind base;
@tailwind components;
@tailwind utilities;

/* video,img{
  
} */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background: #eee;
  z-index: 9999;
  transition: all 300ms ease-in-out;
}
.scroll-down header {
  transform: translate3d(0, -100%, 0);
}
.scroll-up header {
  filter: drop-shadow(0 -10px 20px #aaa);
}
.menu-is-open {
  overflow: hidden;
}
.menu-is-open header {
  filter: none;
}
/* body {
  padding-bottom: 100%;
} */


/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

/*-------------------header styles starts here*/

/* .headerMain .nav {
  position: relative;
  display: inline-block;
  float: right;
  margin-top: 20px;
}
.headerMain h1 {
  font-size: 3rem;
  font-family: Helvetica, sans-serif;
  display: inline-block;
  margin-left: 20px;
}
.headerMain ul {
  display: inline-block;
  float: right;
  margin-right: 30px;
}
.headerMain ul a {
  text-decoration: none;
  font-family: Helvetica, sans-serif;
}
.headerMain ul a li {
  display: inline-block;
  padding: 5px 10px;
} */

/*-------------------header styles end here*/

/*-------------------content styles starts here*/
/* .contentMain {
  position: relative;
}
.contentMain .grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 100px;
}
.contentMain .grid img {
  width: 120px;
  height: 120px;
}
.contentMain .grid a {
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  font-size: larger;
} */
